# Environment folder
.venv/

# Data folder
data/

# Audio files
*.wav
*.mp3
*.m4a

# IDE files
.vscode/

# Image files
*.png
*.jpg

# Created files
class_map.json
model_trained.pth

# Pycache
src/ml_audio/__pycache__/
tests/__pycache__/
